@charset "UTF-8";
/* **************************
  headder
************************** */
.hdr_wrap .hdr_inr {
  color: #000; }
  .hdr_wrap .hdr_inr .hdr_menu .hdr_nav ul li {
    color: #f00; }

/* **************************
  ページトップへ
************************** */
/* **************************
  メインビジュアル
************************** */
/* **************************
  トップページ内コンテンツ
************************** */
#contents .cont_inr {
  /* h2 */
  /* trouble_list */
  /* cont_2column */ }
  #contents .cont_inr .cont_trouble_wrap .cont_trouble_list .cont_trouble_item {
    /* h3 */ }
    #contents .cont_inr .cont_trouble_wrap .cont_trouble_list .cont_trouble_item .cont_trouble_ttl {
      color: #f00; }

/* **************************
  SP
************************** */
@media screen and (max-width: 768px) {
  body {
    background: #000; } }
